html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #13141C;
	margin: 0;
  padding: 0;
  display: block;
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-moz-selection, ::selection {
  background-color: #5cdfad;
  color: #182b22;
}
