$bg_gray_700: #0E0F16;
$bg_gray_500: #13141C;
$bg_gray_400: #181920;
$bg_gray_450: #171821;
$bg_gray_300: #1C1E26;
$bg_gray_200: #1D1E29;

$text_green: #4BEB80;
$text_green_light: #74f59f;
$text_pink: #B698EF;
$text_pink_light: #d4c1f8;
$text_gray: #A5AAD2;
$text_gray_light: #caceec;

$text_body: #9194AA;
$text_card_body: #999FB8;
$text_white: #fff;
$text_paragraph: #8D90AA;
